<!DOCTYPE html>
<html>
	<head>
		<title>Todo List || Restful Routes</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lobster" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<div class="container">
	    <% if(error && error.length > 0) { %>
	      <div class="alert alert-danger" role="alert">
	        <%= error %>
	      </div>
	    <% } %>
	    <% if(success && success.length > 0) { %>
	      <div class="alert alert-success" role="alert">
	        <%= success %>
	      </div>
	    <% } %>
	</div>
	
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
		      <ul class="nav navbar-nav">
		      	<% if(!currentUser){ %> 
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
              <li><a href="#">Signed In as <%= currentUser.username %> </a></li>
              <li><a href="/logout">Log Out</a></li>
            <% } %>
		      </ul>
		    <!--</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		