<% include ./partials/header %>
    <div class="container_wrap register">
            <h1>Sign up</h1>
            <form class="register_form" action="/register" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Submit</button>
            </form>
    </div>
<% include ./partials/footer %>